* {
    font-family: sans-serif;
    
}
header {
    margin: 10px;
}
main {
    margin: 10px;
}

html {
    border: solid;
    max-width: 900px;
    margin: 20px;
}
#salaryCalcText {
    text-align: center;
}
#topText {
    margin-top: 50px;
}
#submitButton {
    margin-top: 10px;
}